*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
    list-style: none;
    text-decoration: none;
}

body {
    background: linear-gradient(150deg, #961f1f, #262626);
    color: #ffffff;
}

h1{
    color: #ffffff;
    font-size: 35px;
    margin-bottom: 15px;
    margin-top: 50px;
    text-align: center;
}

h3{
    text-align: center;
    color: #ffffff;
    margin-bottom: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, rgb(36, 35, 35)0%, rgb(26, 25, 25)100%);
    color: white;
    padding: 5px;
    font-size: 75%;
}

a {
    text-decoration: none;
    color: #fbfafa;
    font-size: 125%;
    font-weight: 600;
    padding-right: 1rem;
}

nav a:hover {
color: #b43232;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 5rem;
    margin-right: 5%;
}

 /* Estilos para la tabla de usuarios */
.user-table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    background: #ffffff;
    margin-bottom: 50px;
}

.user-table th, .user-table td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.user-table th {
    background-color: #2c2c2c;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

.user-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Botón de acción en la tabla */
.user-table button {
    background: #121212;
    color: white;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
}

.user-table button:hover {
    background-color: #b91818;
}

.add-user-form {
    width: 50%;
    margin: 20px auto;
    padding: 15px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.add-user-form input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.add-user-form button {
    background: #121212;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
}

.add-user-form button:hover {
    background-color: #b91818;
}


.footer{
    padding: 50px 0;
    background: linear-gradient(90deg, rgb(36, 35, 35)0%, rgb(26, 25, 25)100%);
}

.footer-content{
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

link h3{
    font-size: 30px;
    color: #c5c5c5;
    margin-bottom: 15px;
    justify-content: center
}

.link ul li a{
    font-size: 16px;
    color: #c5c5c5;
    display: block;
    margin-bottom: 15px;
}

.footer-content h1{
     font-size: 30px;
    color: #c5c5c5;
    margin-bottom: 15px;
    justify-content: center;
}
