*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body {
    font-family: "Poppins", serif;
    background-color: #e0e0e0d0;
    color: #ffff;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    background-image: linear-gradient(
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)),
        url(img/img1.jpg);
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 70vh;
        display: flex;
        align-items: center;
}

.menu {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: #fffdfc;
    font-size: 25px;
    font-weight: 800;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color: #fffdfc;
    display: block;
    font-weight: 600;
}

.menu .navbar ul  li a:hover {
    color: #b43232;
}

#menu {
    display: none;
}

.menu-icono{
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.header-content {
    text-align: center
}

.header-content h1{
    font-size: 75px;
    line-height: 80px;
    color: #f9fafc;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.header-content p {
    font-size: 16px;
    color: #e4e1de;
    padding: 0 250px;
    margin-bottom: 25px;
}

.btn-1 {
    display: inline-block;
    padding: 11px 35px;
    background-color: rgb(97, 7, 7);
    color: #f9f4fc;
    text-transform: uppercase;
}

.btn-1:hover{
    background-color: #911a1a;
}

.colegio {
    padding: 100px 0;
    background-color: #262626;
    position: relative;
}

.pag-content{
    text-align: center;
}

.pag-content h2{
    font-size: 50px;
    line-height: 60px;
    color: #262626;
    text-transform: uppercase;
    padding: 0 250px;
    margin-bottom: 15px;
    margin-top: 100px;
}

.txt-p{
    font-size: 16px;
    color: #414247;
    padding: 0 250px;
    margin-bottom: 35px;
}

.funciones-pag{
    color: #414247;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    text-align: center;
    font-size: 16px;
}

.funcion-1{
    padding: 0 25px ;
}

.funcion-1 img{
    width: 200px;
}

.funcion-img{
    position: absolute;
    top:0;
    right: 0;
}


.funciones-pag h3{
    color:rgb(97, 7, 7);
    font-size: 30px;
    margin-bottom: 15px;
    text-align: center;
}

.boletindig{
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)),
        url(img/img2.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        padding: 100px 0;
}

.boletindig-content{
    text-align: center;
    justify-content: center;
}

.boletindig-content h2{
    font-size: 50px;
    line-height: 70px;
    color: #f9fafc;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.boletindig-content p {
    font-size: 16px;
    color: #c5c5c5;
    margin-bottom: 50px;
    padding: 0 100px;
}


.general {
    display: flex;
}

.general-1 {
    width: 50%;
    padding: 100px 250px 100px 100px;
    background-color: #e0e0e0d0;
}

.general-2{
    background-image: url(img/img3.jpg);
    background-position:center center ;
    background-repeat: repeat;
    background-size: cover;
    width: 50%;
}

.general-3{
    background-image: url(img/img4.jpg);
    background-position:center center ;
    background-repeat: repeat;
    background-size: cover;
    width: 50%;
}

h2 {
    font-size: 55px;
    line-height: 70px;
    color:#444342;
    text-transform: uppercase;
    margin-bottom: 20px;
}

p{
    font-size: 16px;
    color: #414247;
    margin: 25px 0 45px 0;
}

.footer{
    padding: 50px 0;
    background: linear-gradient(90deg, rgb(36, 35, 35)0%, rgb(26, 25, 25)100%);
}

.footer-content{
    display: flex;
    justify-content: space-between;
}

link h3{
    font-size: 30px;
    color: #c5c5c5;
    margin-bottom: 15px;
    justify-content: center
}

.link ul li a{
    font-size: 16px;
    color: #c5c5c5;
    display: block;
    margin-bottom: 15px;
}

@media(max-width:991px) {
    .menu {
        padding: 30px;
    }

    .menu label{
        display: initial;
    }

    .menu .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #323337;
        display: none;
    }

        .menu .navbar ul li{
            width: 100%;
        }

        #menu:checked ~ .navbar{
            display: initial;
        }

        .header {
            min-height: 0vh;
        }

        .header-content{
            padding: 100px 30px;
        }

        .header-content p{
            padding: 0;
        }

        .colegio{
            padding: 30px ;
        }

        .pag-content h2{
            padding: 0;
        }

        .txt.p{
            padding: 0;
        }

        .funciones-pag{
            flex-direction: column;
            margin-bottom: 0;
        }

        .funcion-img{
            display: none;
        }

        .boletindig{
            padding: 30px;
        }

        .boletindig-content p {
            padding: 0;
        }

        .general{
            flex-direction: column;
        }

        .general-1{
            width: 100%;
            padding: 30px;
            text-align: center;
        }

        .general-2, .general-3{
            display: none;
        }
        
}