body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", serif;
    background: linear-gradient(150deg, #961f1f, #262626);
    color: white;
}

h1, .descr {
    text-align: center;
}

/* Sección de encabezado */
header {
    display: flex;
    height: 3rem;
    background-color: #2c2c2c;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    font-size: 75%;
}
 
 a {
     text-decoration: none;
     color: #fbfafa;
     font-size: 125%;
     font-weight: 600;
     padding-right: 1rem;
 }
 
 nav a:hover {
 color: #b43232;
 }
 
 .logo {
     display: flex;
     align-items: center;
 }
 
 .logo img {
     height: 5rem;
     margin-right: 5%;
 }


/* Sección de boletín y tabla de calificaciones */
#boletin {
    padding: 50px 20px;
    margin: 0 auto;
    max-width: 800px;
    text-align: center;
    font-size: 15px;
}

#boletin h3 {
    font-size: 28px;
    margin-bottom: 20px;
    border-bottom: 2px solid #adadad;
    padding-bottom: 10px;
}

/* Estilos para la tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #adadad;
}

th, td {
    padding: 10px;
    text-align: center;
    color: #e6e6e6;
}

th {
    background-color: #2c2c2c;
    font-size: 18px;
}

td {
    background-color: #3d3d3d;
}

td output {
    color: white;
}


/* Footer */
.footer{
    padding: 50px 30px;
    background-color: #2c2c2c;
}

.footer-content{
    display: flex;
    justify-content: space-between;
}

link h3{
    font-size: 30px;
    color: #c5c5c5;
    margin-bottom: 15px;
    justify-content: center

}

.link ul li a{
    font-size: 16px;
    color: #c5c5c5;
    display: block;
    margin-bottom: 15px;
}

/* Ajustes para dispositivos pequeños */
@media (max-width: 768px) {
    header h1 {
        font-size: 32px;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 10px 0;
    }

    section {
        padding: 30px 10px;
    }

    table, th, td {
        font-size: 14px;
    }
}
